<div id="banner">
    <div id="banner_item_container">
        <div class="banner_item"><a class="navbar_link" href="/"><img src="/static/sonovsite/sonov_logo_2.png"></a></div>
        <form id="search_all" method='post' >{% csrf_token %}{{ form }}</form>
        <div class="banner_item"><h3><a class="navbar_link" href="/sons">Sons</a></h3></div>
        <div class="banner_item"><h3><a class="navbar_link" href="/articles">Articles</a></h3></div>
        <div class="banner_item"><h3><a class="navbar_link" href="/galeries">Galeries</a></h3></div>
    </div>
</div>
