{% extends 'base.html' %}


{% block body %}
    <body>
{% include "banner.html" %}
        <div id="main_container">
            <div class="flex_horiz">
                {% for item in sons %}
                <div class="section_item">
                    <a href="{{item.colorbox_link}}" class="{{item.source_site}}" title="{{item.short_desc}}">
                        <img class="round_img shadowed" src="/{{item.thumbnail}}">
                        <div class="caption">
                            <h1>Écouter</h1>
                        </div>
                    </a>
                    <h3>{{item.title}}</h3>
                    <div class="post_info">
                    {{item.created_date.day}}-{{item.created_date.month}}-{{item.created_date.year}} par {{item.posted_by}}<br>
                    {% for tag in item.tags.all %}<a class="music_tag_dark" href="/sbytag/{{tag.pk}}">{{tag.title}}</a> {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="flex_horiz">
                {% if sons.has_previous %}
                    <div class="section_item"><a href="?page={{ sons.previous_page_number }}"><img style="height:80px;width: auto;" src="/static/sonovsite/previous_page.png"></a></div>
                {% else %}
                    <div class="section_item"><img style="height:80px;width: auto;visibility: hidden;" src="/static/sonovsite/previous_page.png"></div>
                {% endif %}
                {% if sons.has_next %}
                    <div class="section_item"><a href="?page={{ sons.next_page_number }}"><img style="height:80px;width: auto;" src="/static/sonovsite/next_page.png"></a></div>
                {% else %}
                    <div class="section_item"><img style="height:80px;width: auto;visibility: hidden;" src="/static/sonovsite/next_page.png"></div>
                {% endif %}
            </div>
        </div> <!-- end main_container -->
    </body>
{% include "footer.html" %}
{% endblock %}